<div class="create-review">
    <h2>Leave Your Review</h2>
    <form class="create-review-form">
        <div>
            <span>Review Title</span>
            <input type="text" id="review-title" placeholder="Write your title here">
        </div>
        <div>
            <span>Write your Review</span>
            <input type="text" id="review-content" placeholder="Write your review here">
        </div>
        <button type="submit"> Post Your Review! </button>
    </form>
</div>
<script src="/public/js/create-review.js"></script>