    {{!-- <body>
    <header class="head container">
        <h1 id="webTitle">Game Search Engine </h1>
        <nav>
            <a href="./index.html">Home</a>
            <a href="./public/htmls/Platforms.html">Platforms</a>
            <a href="./public/htmls/NewGames.html">New Games</a>
            <a href="./public/htmls/login.html">Login</a>
        </nav>
    </header>

        <!--Search bar-->
    <section class="body container">
        <input class="user-input-search" type="text" placeholder="Search a videogame here">
        <button class="search-button" type="button"><a href="./public/htmls/Search.html">Search</a></button>
    </section>

    {{ body }}
    
  </body> --}}


