    <link rel="stylesheet" href="./style.css">
    <main>

        <h2 id="secondTitle">Must Have Games</h2>

        <section id="bestGames">

        </section>
    </main>

<script type="module" src="./main.js"></script>