<!-- views/homepage.handlebars -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Game Finder!</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header class="head container">
        <h1 id="webTitle">Game Search Engine </h1>
        <nav>
            <a href="/">Home</a>
            <a href="/platforms">Platforms</a>
            <a href="/new-games">New Games</a>
            <a href="/login">Login</a>
        </nav>
    </header>

    <section class="body container">
        <form action="/search" method="GET">
            <input type="text" name="query" placeholder="Search a videogame here">
            <button type="submit">Search</button>
        </form>
        <a href="/signup">Signup</a>
    </section>

    {{ body }}

  </body>
</html>
