    <link rel="stylesheet" href="./css/style.css">
    <main>

        <h2 id="secondTitle">Must Have Games</h2>

        <section id="bestGames">

        </section>
    </main>

<script type="module" src="./js/main.js"></script>