    <div class="column">
        <h2>Login</h2>
        <form class="login-form">
            <div>
                <span> Email: </span>
                <input type="text" id="login-email"> 
            </div>
            <div>
                <span> Password: </span>
                <input type="password" id="login-password">
            </div>

            <button type="submit"> Login </button>
            <button type="button"><a href="../../signup.html">Sign Up Here! </a></button>

        </form>
    </div>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<!-- jQuery UI <script> tag -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="module" src="../public/js/main.js"></script>