        {{!-- </section>

    {{#each games as |game|}}    
        <h2 id="secondTitle">New Games</h2>

        <section id="newGames"> 
                        <div class="gameCard">
              <img src="" alt="Game Image" class="gameImage">
                  <h2 class="titleMeta"></h2>
                  <h2 class="gameTitle">{{game.title}}</h2>
                  <div class="gameMetacritic">
                    <p class="gameDate">{{game.released}}</p>
                    <p class="gameGenres">{{game.genre}}</p>
                    <p></p>

                  </div>
            </div>
        </section>

        <script src="../public/js/main.js"></script> --}}