    <main>
        <h2 id="secondTitle">Platforms</h2>

        <section id="platformCard">

        </section>
    </main>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<!-- jQuery UI <script> tag -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="module" src="../public/js/main.js"></script>