<div>
    <h2> Sign Up Form </h2>
    <form class="sign-up-form">
        <div>
            <span> Email: </span>
            <input type="text" id="signup-email">
        </div>
        <div>
            <span> First Name: </span>
            <input type="text" id="signup-first-name">
        </div>
        <div>
            <span> Last Name: </span>
            <input type="text" id="signup-last-name">
        </div>
        <div>
            <span> Password: </span>
            <input type="password" id="signup-password">
        </div>
        <button type="submit"> Finish Signup! </button>
    </form>
    <div>
        <a href="/login">Login</a>
    </div>

    </div>

    <script src="./js/signup.js"></script>
