<!--Used for making search home page -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Game Finder!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="../../public/css/style.css">
  </head>
  <body>
    <header class="head container">
        <h1 id="webTitle">Game Search Engine </h1>
        <nav>
          {{#if loggedIn}}
            <a href="/">Home</a>
            <a href="/platforms">Platforms</a>
            <a href="/NewGames.html">New Games</a>
            <a href="/login">Login</a>
            <a href="/create-review">Review</a>
            {{else}}
            <a href="/">Home</a>            
            <a href="/login">Login</a>  
            {{/if}}          
        </nav>
    </header>

        <!--Search bar-->
    <section class="body container">
        <input class="user-input-search" type="text" placeholder="Search a videogame here">
        <button class="search-button" type="button"><a href="./public/htmls/Search.html">Search</a></button>
    </section>
<section id="bestGames">
    {{ body }}
</section>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<!-- jQuery UI <script> tag -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{{#if loggedIn}}
<script src="../../public/js/logout.js"></script>
{{/if}}
  </body>
</html> 

